@model ICollection<BankManagement.Models.Account>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<a asp-controller="Accounts" asp-action="Index">Go to Accounts</a>


